<?php
//        cast/musician/instrument entry
//        include GIGPRESS_PLUGIN_DIR . '/css/cast-admin.css';
 ?>
<style type="text/css">

.musician-cast-row
{
    margin-bottom: 25px;
    display: flex;
}
.musician-entry 
{
    display: flex; 
    align-items: center; 
    gap: 15px; 
    margin-bottom: 8px;
    margin-right: 16px;
}
.musician-checkbox-label
{
    font-weight: bold; 
    cursor: pointer;
    min-width: 180px;
}

.instruments-sub-list
{
    width: 100%;
}

.instrument-entry
{
    background: #fafafa;
    padding: 4px 8px;
    border: 1px solid #e2e8f0;
    border-radius: 3px;
    box-sizing: border-box;
    float: left;
    margin: 5px 0 5px 10px;
}

.instrument-entry-label
{
    color: #555; 
    cursor: pointer; 
    display: inline-block;
    white-space: nowrap;    /* Prevents instrument names from awkwardly breaking to 2 lines */
    padding-right: 4px;
    min-width: 130px;
}

.instrument-order-label input
{
    width: 50px; 
    padding: 2px 4px; 
}

.drag-handle
{
    cursor:grab; 
    color:#a0a5aa; 
    margin-right:10px;
}

</style>